<p id="notice"><%= notice %></p>

<p>
  <strong>Mensaje:</strong>
  <%= @ayuda_localidad.mensaje %>
</p>

<%= link_to 'Edit', edit_ayuda_localidad_path(@ayuda_localidad) %> |
<%= link_to 'Back', ayuda_localidads_path %>
