        <div>
            <footer class="row contenedorFooter">
                <div class="col s6 ">
                    <a class="white-text  right" href="#">© 2018 Copyright Fedesoft</a>
                </div>
                <div class="col s6 ">
                        <a class="white-text right" href="#">Terminos y Condiciones</a>
                </div>               
            </footer>
        </div>   