
    <div class="contenedorPrincipal" > <!--  Inicio Contenedor principal -->
        <!-- Inicio datos -->
        <div>
            
            <div class="container" >
                <div class="row">
                    <div class="col l12 m12 s12">
                        <!-- <img src="img/index/fondo01.png" class="responsive-img" alt="no se puede cargar imagen">  -->
                        <%= image_tag 'index/fondo01.png', alt:'Imagen de fondo no disponible' %>
                    </div>
                </div>
            </div>

        </div>        
        <!-- Fin Datos -->

    </div> <!-- Inicio Contenedor principal -->